## Display today's date

In [ ]:
from datetime import date
print(date.today())

## Built a unit converter

In [ ]:
parsecs = 11
lightyears = parsecs * 3.26
print(str(parsecs) + " segundos son " + str(lightyears) + " años luz")

## Creating reusable applications

Accepting user input

In [ ]:
parsecs_input = input("Introduce un número de segundos:")
parsecs = int(parsecs_input)
lightyears = 3.26156 * parsecs

print(parsecs_input + " segundos son " + str(lightyears) + " años luz")

## Lista de estudiantes

Crea una lista con los nombres de cinco estudiantes. Añade un nuevo estudiante al final de la lista, luego elimina el tercer estudiante. Imprime la lista resultante.

In [ ]:
estudiantes = ["Andrés", "Carolina", "Silvia", "Marina", "Elias"]
estudiantes.append("Jules")
estudiantes.remove(estudiantes[2])
print(estudiantes)

## Tupla de fechas

Crea una tupla que contenga tres fechas importantes(como cumpleaños o aniversarios). Intenta modificar una de las fechas y observa el error que se genera.

In [ ]:
fechas_importantes = ("1995-06-15", "2000-12-25", "2010-03-20")
fechas_importantes[1]= "2025-01-08"

## Set de colores

Crea un set con los nombres de cuatro colores. Añade un nuevo color y luego elimina uno de los colores existentes. Imprime el set resultante.

In [ ]:
colores = {"rojo", "azul", "naranja", "negro"}
colores.add("morado")
colores.remove("negro")
print(colores)

## Diccionario de precios

Crea un diccionario que contenga tres productos como claves y sus respectivos precios como valores. Actualiza el precio de uno de los productos y añade un nuevo producto con su precio. Imprime el diccionario resultante.

In [ ]:
productos = {
    "zumo de manzana": 2.5,
    "guisantes congelados": 4.99,
    "yogures griegos azucarados": 3.45
}

productos["guisantes congelados"] = 6.40
productos["vino"] = 14.70
print(productos)